body {
  background-color: black;
  color: white;
  font-style: italic;
  text-align: center;
}
div {
  align-items: center;
  align-content: center;
}
.top-div{
  background-color: white;
  color: black;  
  margin-top: 60px;
  border-radius: 40px;
  border-style: solid;
  border-color: #777777 #222222;  
}
.bottom-div{
  margin-top: 60px;  
}
.quote{
  margin-top: 50px; 
}
.author{
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: table;
}

.gray-box{
  border-radius: 20px;
  border-style: solid;
  border-color: #222222 #666666;
  background-color: #0a0a0a;
  color: #ffffff;
}

.gray-box:hover{
  border-radius: 20px;
  background-color: #111111;
  border-color: #666666 #222222;
  color: #cfcfcf;
  font-weight: bold; 
}

.gray-box:hover h3{
  font-weight: bolder;
}
.pageAuthor{
  font-size: 70%;
  margin-top: 100px;
  display: table;
  border-width: 1px;
}