/*
green - 90A271
blue - 464c75
dark - 333837
medium - 484645
yellow - d1ad58
*/

html {
  background: #333837;
}

body {
  margin: auto;
  max-width: 800px;
  color: white;
  font-family: 'Bad Script', cursive;
}

header, section, nav {
  margin-bottom: 1rem;
}

header {
  margin-bottom: 0.5rem;;
}

header, nav {
  padding-left: 30px;
  padding-right: 30px;
}

header img {
  max-height: 2.75rem;
}

header p {
  margin: -0.75rem 0;
  color:#464c75;
}

header > div, nav {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex; /* make arrows clickable above and below */
  justify-content: space-between;
  padding: 0.7rem 0;
  color: #d1ad58;
  border: 2px solid #464c75;
  border-style: solid none;
  font: normal 1.5rem/130% 'Kurale', serif;
}

/* center only the arrows vertically */
section div:not(#display) {
  display: flex;
  align-items: center;
}

section p {
  margin: 0;
  padding: 0;
}

nav {
  height: 1.5rem;
  align-items: center;
}

img {
  max-height: 100%;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #90A271;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: #464c75;
  transition: all 500ms ease;
}
a:hover {
  color: #5a4675;
}

.svg-container {
  position: relative;
}

.svg-container object {
  position: absolute;
}

#wikiquote-logo {
  min-width: 50px;
}

#wikiquote-logo object {
  right:0; bottom:0; max-width:50px; height: 100%;
}

#twitter-logo {
  min-width: 30px;
  min-height: 30px;
}

#twitter-logo object {
  max-width:100%; height: 100%;
}

.arrow {
  flex-shrink: 0;
  flex-grow: 0;
  align-items: stretch;
  width: 16px;
  cursor: pointer;
  visibility: hidden;
}

.arrow img {
  height: 60px; /* Prevent stretching */
  width: 10px;
}

#right-arrow {
  text-align: right;
}

#display {
  align-self: flex-start;
  flex-grow: 1;
  padding: 0 14px;
}

#quote {
  margin-bottom: 0.666666rem;
}

#author {
  text-align: right;
  color: #90A271;
}

#new-quote {
  color: #d1ad58;
  cursor: pointer;
  transition: all 500ms ease;
}

#new-quote:hover {
  text-decoration: underline;
  color: #d18e58;

}

#more-info {
  color: #90A271;  
}
#more-info a {
  color: #90A271;
  text-decoration: none;
}

#more-info a:hover {
  text-decoration: underline;
  color: #a29f71;
}